- if current_user
- elsif @new_invitee
  %h1 Welcome to TennisYourWorld
  = link_to 'Join Us!', user_omniauth_callback_path
- else
  %h1 We're sorry, but TennisYourWorld is a private group.
  %p You need to be invited by a member in order to access this content.
