<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @competition.name %>
</p>


<% if can? :update, @competition %>
  <%= link_to 'Edit', edit_competition_path(@competition) %> |
<% end %>
<%= link_to 'Back', competitions_path %>
