<% if current_user %>
<h1>It works</h1>
<% else %>
    <h1>We're sorry, but TennisYourWorld is a private group.</h1>
    <p>You need to be invited by a member in order to access this content.</p>
<% end %>
